<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.helei.bot.core.mvc.mapper.TwitterAccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.helei.bot.core.entity.TwitterAccount">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="email" property="email"/>
        <result column="email_password" property="emailPassword"/>
        <result column="token" property="token"/>
        <result column="f2a_key" property="f2aKey"/>
        <result column="params" property="params"/>
        <result column="insert_datetime" property="insertDatetime"/>
        <result column="update_datetime" property="updateDatetime"/>
        <result column="is_valid" property="isValid"/>
    </resultMap>

    <select id="insertOrUpdate" parameterType="cn.com.helei.bot.core.entity.TwitterAccount" resultType="java.lang.Integer">
        INSERT INTO t_twitter_account
        (username, password, email, email_password, token, f2a_key, params, insert_datetime, update_datetime, is_valid)
        VALUES (#{username}, #{password}, #{email}, #{emailPassword}, #{token}, #{f2aKey}, #{params},
                #{insertDatetime}, #{updateDatetime}, #{isValid})
            ON CONFLICT(username) DO
        UPDATE SET
            password = excluded.password,
            email = excluded.email,
            email_password = excluded.email_password,
            token = excluded.token,
            f2a_key = excluded.f2a_key,
            params = excluded.params,
            update_datetime = excluded.update_datetime;
    </select>
</mapper>

